.categories_page .progress-bar{
    background-color: #2d4374 !important;
}

.categories_page .selected_item{
    color: #2d4374;
    font-weight: bold;
}

.categories_page .progress_div{
    top:45%;
    left: -50px;
}

.title_label{
    font-weight: bold;
}

.label_category_co2 {
    color: #2d4374;
    top:120%;
    left:60%;
    font-size: 200%;
}

@media (min-width: 992px) {

    .label_category_co2{
        top:40%;
        left:80%;
        font-size: 100%;
    }
}

.categories_page .circle{
    left: 0;
    right: 0;
    top:-2%;
    z-index: 5;
}
