/* Used for footer component*/
.footer {
    background-image: url("../images/white_hill.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 5;
    bottom: 0;
}

.campus_page .selected_item{
    color: #2ea180;
    font-weight: bold;
}

.campus_page .progress-bar{
    background-color: #2ea180 !important;
}

.click_me{
    top:50%;
    left:50%;
}

/* Images div*/
.hill{
    bottom: 0;
    left: 0;
    height: 70vh;
    width: 100%;
    z-index: 0;
}

.campus_page .campus{
    cursor: pointer;
    z-index: 2;
    height: 100%;
    width: 100%;
}