/* Global CSS */
.App {
  /* Global Font */
  font-family: "Open Sans Light", sans-serif;
  color: black;
}

.bg-gradient-green{
  background: linear-gradient(#BFEFC4, #91C7AA);
}

/** Campus Image positioned on the TopBar */
.campus_topbar{
  left: 0;
  bottom: -30%;
  height: 100%;
  width: 100%;
}

.topbar {
  background-image: url("./images/topbar.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 2;
}

.tree_back{
  z-index: 1;
}

.tree_middle{
  z-index: 3;
}

.tree_front{
  z-index: 4;
}

.clickable{
  cursor: pointer;
}

.click{
  z-index: 100;
  top:0;
  right:0;
}

/* Very light Grey color used as bg in a lot of pages */
body{
  background-color: #f8faf0;
}

/* To make newline (\n) work in text*/
h1, p{
  white-space: pre-line;
}

svg, i{
  overflow: visible;
}

g {
  transform-origin: 50% 50%;
}
