.details_page .progress-bar{
    background-color: #2d4374 !important;
}

.details_page .selected_item{
    color: #2d4374;
    font-weight: bold;
}

.details_page .label{
    font-family: "Open Sans", sans-serif;
}

/* From xl and forward */
@media (min-width: 1200px) {

    .tree_1_label{
        left:20%;
        top:60%;
    }

    .tree_2_label{
        left:80%;
        top:60%;
    }

    .tree_3_label{
        top:55%;
        left:0;
    }

    .tree_4_label{
        bottom:-15%;
        left:-17%;
    }

    .tree_5_label{
        top:55%;
        right:5%;
    }

}

/*below lg*/

@media (max-width: 1199px) {

    .details_page .label{
        font-size: 180%;
    }

    .tree_1_label{
        left:60%;
        top:70%;
    }

    .tree_2_label{
        left:20%;
        top:70%;
    }

    .tree_3_label{
        top:70%;
        left:10%;
    }

    .tree_4_label{
        bottom:20%;
        left:50%;
    }

    .tree_5_label{
        top:65%;
        right:1%;
    }

}
